.timeline__root {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.loadmore__root {
    display: flex;
    justify-content: center;
}

.loadmore__root::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 300px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
}